body{
    overflow-x:hidden;
}
.recepcion{
    width: 100%;
}
.logo{
    width: 100%;
}
.boton{
    padding: 3rem;
}
.servicios{
    margin-top: 50px;
}
h2{
    text-align: center;
    color: black;
    font-size: 2rem;
}
h4{
    text-align: center;
    color: black;
    font-size: 1.4rem;
}.btn{
    margin-left: 10px;
}
.navbar-brand{
    font-size: 2.5rem;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.card{
    margin: 10px 20px 10px;
    transition:all ease-out 0.2s;
}
.card:hover{
    transform: scale(1.05);
}
.servicios2{
    margin-top: 40px;
}
.color{
    background: rgb(7, 6, 6);
}
.copy{
    font-size: 0.8rem;
    color: white;
}
.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: #fff;
    background-color: #2D3986;
    border-color: #212529;
}
.redes{
    width: 220px;
}
.logo1{
    width: 45px;
}
.cen{
    display: flex;
    justify-content: center;
}
.maps{
    margin-top: 50px;
}
.cen{
    margin-top: 25px;
    margin-left: 100px;
}
.cen1{
    margin-top: 8px;
    margin-left: 90px;
}
.cen2{
    margin-top: 25px;
    margin-left: 80px;
}
.mb-5 {
    margin-bottom: 1rem!important;
}
.border{
    border-radius: 25px;
}
.nuestra{
    width: 100%;
}
.lent{
    color: blanchedalmond;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
h4{
    font-size: 1.5rem;
    padding: 10px;
    font-family: eras itc;
}
.faj{
    width: 60%;
}

  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      margin-bottom: 20px;
      border: none;
      border-bottom: 2px solid #292929;
      color: #000000;
      font-weight: 400;
  }
  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
  }
.pse{
    width: 25px;
}